{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WEB Dashboard | {% block title %}{% endblock title %}</title>
        <meta name="description" content="Web Blog">
        <meta name="keywords" content="Blogging, Blog">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon-->
        <link rel="icon" href="{% static 'blog/images/favicon.png' %}" type="image/x-icon" />


     {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'dashboard/author/plugins/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/author/plugins/fontawesome-free/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/author/plugins/icon-kit/dist/css/iconkit.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/author/plugins/ionicons/dist/css/ionicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/author/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}">
        <link rel="stylesheet"
              href="{% static 'dashboard/author/plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/author/plugins/c3/c3.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/author/dist/css/theme.min.css' %}">
        <script src="{% static 'dashboard/author/src/js/vendor/modernizr-2.8.3.min.js' %}"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
        <link href="{% static 'dashboard/author/css/bootstrap-tagsinput.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'dashboard/author/css/prism.css' %}">

   {% endblock stylesheets %}
    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="wrapper">
          {% block header %}
            <header class="header-top" header-theme="light">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <div class="top-menu d-flex align-items-center">
                            <button type="button" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></button>
                            <div class="header-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="ik ik-x"></i></span>
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon search-btn"><i class="ik ik-search"></i></span>
                                </div>
                            </div>
                            <button type="button" id="navbar-fullscreen" class="nav-link"><i class="ik ik-maximize"></i></button>
                        </div>
                        <div class="top-menu d-flex align-items-center">


                            <button type="button" class="nav-link ml-10" id="apps_modal_btn" data-toggle="modal"
                                    data-target="#appsModal"><i class="ik ik-grid"></i></button>
                            <div class="topbar-divider d-none d-sm-block"
                                 style="
                                 width: 0;
                                 border-right: 1px solid #e3e6f0;
                                 height: calc(4.375rem - 2rem);
                                 margin: auto 1rem;">
                            </div>
                          {% if request.user.is_authenticated %}
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <span class="d-none d-lg-inline text-gray-700">{{ user.username }}</span>
                                    <img class="avatar" src="{{ user.profile.image.url }}" alt="user-profile-pic">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{% url 'blog:author_profile_details' %}">
                                        <i class="ik ik-user dropdown-icon"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><i class="ik ik-settings dropdown-icon"></i> Settings</a>
                                    <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                        <i class="ik ik-power dropdown-icon"></i> Logout</a>
                                </div>
                            </div>
                         {% endif %}
                        </div>
                    </div>
                </div>
            </header>
         {% endblock header %}

            <div class="page-wrap">
                <div class="app-sidebar colored">
                    <div class="sidebar-header">
                        <a class="header-brand" href="{% url 'blog:dashboard_home' %}">
                            <div class="logo-img">
                               <img src="{% static 'blog/images/favicon.png' %}" class="header-brand-img"
                                    width="30" height="30"
                                    alt="lavalite">
                            </div>
                            <span class="text">Dashboard</span>
                        </a>
                        <button type="button" class="nav-toggle">
                            <i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
                        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
                    </div>

              {% block sidebar %}
                    <div class="sidebar-content">
                        <div class="nav-container">
                            <nav id="main-menu-navigation" class="navigation-main">

                                <div class="nav-lavel">Home</div>
                                <div class="nav-item">
                                    <a href="{% url 'blog:dashboard_home' %}"><i class="ik ik-home"></i><span>Home</span></a>
                                </div>
                                <div class="nav-lavel">Article</div>
                                <div class="nav-item has-sub">
                                    <a href="javascript:void(0)"><i class="fa fa-newspaper"></i><span>Article</span></a>
                                    <div class="submenu-content">
                                        <a href="{% url 'blog:article_write' %}" class="menu-item">
                                            <i class="ik ik-edit-2"></i><span>Write A New Article</span></a>
                                    </div>
                                </div>
                                <div class="nav-lavel">Utilities</div>
                                <div class="nav-item has-sub">
                                    <a href="javascript:void(0)"><i class="ik ik-list"></i><span>List</span></a>
                                    <div class="submenu-content">
                                        <a href="{% url 'blog:written_articles' %}" class="menu-item">
                                            <i class="ik ik-edit-1"></i><span>Written Articles</span></a>
                                        <a href="{% url 'blog:published_articles' %}" class="menu-item">
                                            <i class="ik ik-layers"></i><span>Published Articles</span></a>
                                        <a href="{% url 'blog:drafted_articles' %}" class="menu-item">
                                            <i class="ik ik-file-text"></i><span>Drafted Articles</span></a>
                                        <a href="{% url 'blog:deleted_articles' %}" class="menu-item"><i class="ik ik-x-circle"></i>
                                            <span>Deleted Articles</span></a>
                                    </div>
                                </div>

                                <div class="nav-lavel">Category</div>
                                <div class="nav-item">
                                    <a href="{% url 'blog:category_create' %}"><i class="ik ik-navigation"></i>
                                        <span>Submit New Category</span></a>
                                </div>


                                <div class="nav-lavel">Accounts</div>
                                <div class="nav-item has-sub">
                                    <a href="javascript:void(0)"><i class="ik ik-users"></i><span>Profile</span></a>
                                    <div class="submenu-content">
                                        <a href="{% url 'blog:author_profile_details' %}" class="menu-item">
                                            <i class="ik ik-user"></i><span>Your Profile</span></a>
                                        <a href="{% url 'blog:author_profile_update' %}" class="menu-item">
                                            <i class="ik ik-user-plus"></i><span>Update Profile</span></a>
                                    </div>
                                </div>

                                <div class="nav-lavel">About</div>
                                <div class="nav-item">
                                    <a href="javascript:void(0)"><i class="ik ik-info"></i><span>About</span></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                  </div>
                {% endblock sidebar %}

                <div class="main-content">
                   <!-- Messages -->
                  {% block messages %}
                           <div class="row">
                            <div class="col-md-12">
                                {% if messages %}
                                    {% for message in messages %}
                                      <div class="text-center font-weight-bold alert alert-dismissible fade show
                                           {% if message.level_tag == 'error' %}
                                           alert-danger
                                           {% else %}
                                           alert-{{ message.tags }}
                                           {% endif %}">
                                        {{ message }}
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                         </button>
                                      </div>
                                    {% endfor %}
                                  {% endif %}
                            </div>
                          </div>
                  {% endblock messages %}

                {% block content %}
                {% endblock content %}

                </div>

        <div class="modal fade apps-modal" id="appsModal" tabindex="-1" role="dialog" aria-labelledby="appsModalLabel"
             aria-hidden="true" data-backdrop="false">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ik ik-x-circle"></i></button>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="quick-search">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto">
                                    <div class="input-wrap">
                                        <input type="text" id="quick-search" class="form-control" placeholder="Search..." />
                                        <i class="ik ik-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="container">
                            <div class="apps-wrap">
                                <div class="app-item">
                                    <a href="{% url 'blog:dashboard_home' %}"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                                </div>
                                <div class="app-item dropdown">
                                    <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false"><i class="ik ik-book"></i><span>Articles</span></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{% url 'blog:article_write' %}">Write A New Article</a>
                                        <a class="dropdown-item" href="{% url 'blog:published_articles' %}">List of Published Articles</a>
                                        <a class="dropdown-item" href="{% url 'blog:drafted_articles' %}">List of Drafted Articles</a>
                                        <a class="dropdown-item" href="{% url 'blog:deleted_articles' %}">List of Deleted Articles</a>
                                    </div>
                                </div>
                                <div class="app-item dropdown">
                                    <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false"><i class="ik ik-users"></i><span>Accounts</span></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{% url 'blog:author_profile_details' %}">Profile</a>
                                        <a class="dropdown-item" href="{% url 'blog:author_profile_update' %}">Update Profile</a>
                                    </div>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-settings"></i><span>Settings</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="{% url 'blog:home' %}" target="_blank"><i class="ik ik-send"></i><span>Visit Website</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <!-- Logout Modal-->
            <div
            class="modal fade"
            id="logoutModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button
                    class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                  <button
                    class="btn btn-secondary"
                    type="button"
                    data-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <a class="btn btn-danger" href="{% url 'blog:logout' %}">Logout</a>
                </div>
              </div>
            </div>
          </div>

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="{% static 'dashboard/author/src/js/vendor/jquery-3.3.1.min.js' %}"><\/script>')
        </script>
        <script src="{% static 'dashboard/author/plugins/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'dashboard/author/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'dashboard/author/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static 'dashboard/author/plugins/screenfull/dist/screenfull.js' %}"></script>
        <script src="{% static 'dashboard/author/plugins/moment/moment.js' %}"></script>
        <script src="{% static 'dashboard/author/plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js' %}"></script>
        <script src="{% static 'dashboard/author/plugins/c3/c3.min.js' %}"></script>
        <script src="{% static 'dashboard/author/dist/js/theme.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
        <script src="{%  static 'dashboard/author/js/bootstrap-tagsinput.js' %}"></script>
        <script src="{% static 'dashboard/author/js/prism.js' %}"></script>
   {% endblock scripts %}
    </body>
</html>
